.cm-comment { color: #08f; }
.cm-atom { color: #845dc4; }
.cm-number, .cm-attribute { color: #ff80e1; }
.cm-keyword { color: #ffee80; }
.cm-string { color: #3ad900; }
.cm-meta { color: #ff9d00; }
.cm-variable-2, .cm-tag { color: #9effff; }
.cm-variable-3, .cm-def, .cm-type { color: white; }
.cm-bracket { color: #d8d8d8; }
.cm-builtin, .cm-special { color: #ff9e59; }
.cm-link { color: #845dc4; }
.cm-error { color: #9d1e15; }
